<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Housing Heat Map</title>
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <!-- This must go BEFORE the Leaflet-Heatmap plug-in -->
    <!-- Heatmap.js -->
    <script type="text/javascript" src="../static/js/heatmap.js"></script>


    <!-- leaflet-heatmap.js -->
    <script type="text/javascript" src="../static/js/leaflet-heatmap.js"></script>

    
    <!-- jQuery Library -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <!-- D3 library -->
    <script type="text/javascript" src="https://d3js.org/d3.v7.min.js"></script>
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- Our CSS  -->
    <link rel="stylesheet" href="../static/css/styles.css"/>

  </head>

  <body>
    <div>
    <br>
    <input type="text" name="userInput" id="userInput">
    <button type="button" onclick="set_userInput();db_call();">BIIITCH</button>
    <br>
    <br>
    </div>

    <div id="map"></div>

  </body>
    <!-- JavaScript file -->
    <script src="static/js/housing_heatmap.js"></script>

    <!-- <script type="text/javascript" src="../static/js/basic_map.js"></script> -->

</html>
